.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h-100-px {
  height: 100px !important;
}

.mw-400-px {
  max-width: 400px !important;
}

.filter-box {
  margin: 0 auto;
}

.temp-range {
  line-height: 2.5;
}

.day-forecast {
  border-top: 1px solid #dedede
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
